---
import { dayjs } from "~/lib/date";

interface Props {
	startAt: Date;
	endAt: Date;
	label: string;
}

const { startAt, endAt, label } = Astro.props;
const from = dayjs(startAt).tz();
const to = dayjs(endAt).tz();
---

<div class="flex items-center">
	{
		label.endsWith("?") ? (
			<div
				class="tooltip tooltip-right"
				data-tip="Predicted date, might be inaccurate"
			>
				<span class="font-medium uppercase underline decoration-dotted">
					{label}
				</span>
			</div>
		) : (
			<span class="font-medium uppercase">{label}</span>
		)
	}

	<span class="badge dark:badge-primary dark:badge-soft ml-2 inline-flex">
		<div
			class="tooltip underline decoration-dotted"
			data-tip={`${from.format("YYYY-MM-DD HH:mm")} / ${from.fromNow()}`}
		>
			{from.format("YYYY-MM-DD")}
		</div>

		&mdash;

		<div
			class="tooltip underline decoration-dotted"
			data-tip={`${to.format("YYYY-MM-DD HH:mm")} / ${to.fromNow()}`}
		>
			{to.format("YYYY-MM-DD")}
		</div>
	</span>
</div>
