---
import BaseLayout from "~/layouts/base-layout.astro";
import { pages } from "~/lib/page";
import BirthdayTimeline from "./_birthday-timeline.astro";
import { filterCharacters, getCharacters } from "./_list";
import { schema } from "./_params";

const params = Astro.locals.parseQuery(schema);

const characters = getCharacters();
const { filtered } = await filterCharacters(params, characters);
---

<BaseLayout
	title={pages["page/birthday"].title}
	description={pages["page/birthday"].description}
>
	<div class="flex flex-col items-center gap-4">
		<div class="badge badge-accent badge-xl w-48 font-medium">
			Birthday Tracker
		</div>

		<label class="input w-64">
			<iconify-icon class="size-4" icon="lucide:search" width="none"
			></iconify-icon>
			<input
				hx-get
				hx-trigger="input delay:300ms"
				class="flex-1"
				name="query"
				type="search"
				hx-select="#birthday-list"
				hx-swap="outerHTML transition:true"
				hx-target="#birthday-list"
				placeholder="Search"
			/>
		</label>

		<div id="birthday-list">
			{
				filtered.length > 0 ? (
					<BirthdayTimeline characters={filtered} />
				) : (
					<p class="text-base-content/50">No characters match your search.</p>
				)
			}
		</div>
	</div>
</BaseLayout>
