@utility modal {
	@apply max-sm:modal-bottom;
}

@utility modal-box {
	@apply max-h-9/10 w-full sm:max-w-xl;
}

@utility tab-content {
	@apply bg-base-100 border-base-300 px-4 py-2 sm:p-6;
}

@utility menu {
	:where(
		li:not(.menu-title, .disabled) > *:not(ul, details, .menu-title),
		li:not(.menu-title, .disabled) > details > summary:not(.menu-title)
	):not(.menu-active, :active, .btn) {
		&.menu-focus,
		&:focus-visible {
			color: currentColor;
		}
	}
}
