@import "tailwindcss";

@theme inline {
	--font-sans: var(--font-nunito-sans);
}

@plugin "daisyui" {
	themes:
		lemonade --default,
		coffee --prefersdark;
	exclude:
		rootscrollgutter,
		properties /* https://github.com/saadeghi/daisyui/issues/3882 */;
}

@custom-variant dark (&:where([data-theme="coffee"], [data-theme="coffee"] *));

@import "./bandori.css";

:not(.htmx-request) > .htmx-indicator:not(.htmx-request),
.htmx-indicator-replace.htmx-request,
.htmx-request > .htmx-indicator-replace {
	@apply hidden;
}

.absolute.center,
.fixed.center {
	@apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

#background-image,
#container {
	@apply overflow-auto;
	scrollbar-gutter: stable;
}

#content * {
	@apply scroll-mt-20;
}

#header,
#footer {
	@apply transition-transform duration-150;
}

#header {
	@apply md:-translate-y-14;
}

#scroll-to-top {
	@apply translate-y-12 transition-transform duration-300 md:-translate-y-12;
}

:is(#header, #scroll-to-top).active {
	@apply translate-y-0;
}
