@import "tailwindcss";

@theme inline {
	--font-sans: var(--font-nunito-sans);
}

@plugin "daisyui" {
	themes:
		lemonade --default,
		coffee --prefersdark;
	exclude:
		rootscrollgutter,
		properties /* https://github.com/saadeghi/daisyui/issues/3882 */;
}

@custom-variant dark (&:where([data-theme="coffee"], [data-theme="coffee"] *));

@import "./bandori.css";

:not(.htmx-request) > .htmx-indicator:not(.htmx-request),
.htmx-indicator-replace.htmx-request,
.htmx-request > .htmx-indicator-replace {
	@apply hidden;
}

@utility center-horizontal {
	@apply left-1/2 -translate-x-1/2;
}

@utility center-vertical {
	@apply top-1/2 -translate-y-1/2;
}

@utility center {
	@apply center-horizontal center-vertical;
}

#background-image,
#container {
	@apply overflow-auto;
	scrollbar-gutter: stable;
}

#container > :not(.dropdown) {
	@apply container mx-auto shadow-sm;
}

#content * {
	@apply scroll-mt-20;
}

#scroll-to-top {
	@apply translate-y-12 transition-transform duration-300 md:-translate-y-28;

	&.show {
		@apply translate-y-0;
	}
}

.floating {
	@apply absolute top-0 left-0 z-100 hidden;
}
