---
import { stamps } from "@hina-is/bestdori/data";

import { IMAGE_FORMAT } from "~/lib/compressor/constants";
import { paginate } from "~/lib/paginate";

export const partial = true;

const page = paginate({
	items: [...stamps.entries()],
	context: Astro,
	size: 20,
	extraProps: { "hx-select": "[data-stamp]", "hx-swap": "beforeend" },
});
---

<dialog class="modal modal-bottom bg-transparent">
	<div class="modal-box">
		<div class="flex h-36 gap-x-1 overflow-y-auto" hx-target="this">
			{
				page.items.map(([id, { voiced, slug }], idx) => (
					<button
						{...(page.isLastElement(idx) && page.props)}
						hx-post="/page/stamp-player/room"
						class="btn btn-ghost relative aspect-40/33 h-32"
						data-stamp={slug}
						hx-vals={JSON.stringify({ id })}
					>
						<img
							class="w-full"
							src={`/assets/stamps/${slug}-image.${IMAGE_FORMAT}`}
							alt={`Stamp #${id}`}
							decoding="async"
							loading="lazy"
						/>

						{voiced && (
							<div class="voice-icon btn bg-base-100/50 btn-circle absolute right-4 bottom-4 size-6 border-0 backdrop-blur-sm">
								<iconify-icon
									class="htmx-indicator-replace size-4"
									icon="lucide:volume-2"
									width="none"
								/>
								<iconify-icon
									class="htmx-indicator size-4"
									icon="svg-spinners:90-ring-with-bg"
									width="none"
								/>
							</div>
						)}
					</button>
				))
			}
		</div>
	</div>

	<form class="modal-backdrop" method="dialog">
		<button>close</button>
	</form>
</dialog>
