---
import BaseLayout from "~/layouts/base-layout.astro";
---

<BaseLayout>
	<div class="absolute inset-0 flex items-center">
		<div class="flex flex-1 flex-col gap-2 text-center">
			<div class="font-semibold">hina-is</div>

			<div class="flex flex-col gap-1">
				<a href="/page/events" class="link">Bandori events</a>
				<a href="/page/stamp-player" class="link">Stamp player</a>
			</div>
		</div>
	</div>
</BaseLayout>
