---
import { IMAGE_FORMAT } from "@hina-is/bestdori/constants";
import { events } from "@hina-is/bestdori/data";

import { sample } from "es-toolkit";

import BaseLayout from "~/layouts/base-layout.astro";
import { pages } from "~/lib/page";

const randomEvent = sample(Object.values(events));
---

<BaseLayout
	background={{
		...Astro.locals.useThumbhash(`${randomEvent.slug}-background`),
		src: `/assets/events/${randomEvent.slug}-background.${IMAGE_FORMAT}`,
		alt: `${randomEvent.name} background`,
	}}
	metadata={pages["/"]}
>
	<div class="absolute inset-0 grid place-items-center">
		<div class="flex flex-col items-center">
			<h2 class="badge badge-accent badge-xl w-48 font-medium">hina-is</h2>

			<div class="*:link-hover *:btn *:btn-sm mt-4 grid grid-cols-2 gap-1">
				<a href="/page/events"> Event list </a>
				<a href="/page/stamps"> Stamp list </a>
				<a href="/page/birthday"> Birthday tracker </a>
				<a href="/page/character-sorter"> Character sorter </a>
			</div>
		</div>
	</div>
</BaseLayout>
