---
import "~/styles/global.css";

interface Props {
	background?: { src: string; alt: string };
}

const { background } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />

		<link type="image/png" href="/favicon-96x96.png" rel="icon" sizes="96x96" />
		<link type="image/svg+xml" href="/favicon.svg" rel="icon" />
		<link href="/favicon.ico" rel="shortcut icon" />
		<link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
		<meta name="apple-mobile-web-app-title" content="hina-is" />
		<link href="/site.webmanifest" rel="manifest" />

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body
		{...!Astro.locals.clientTimezone && {
			"hx-get": "",
			"hx-trigger": "load",
			"hx-headers":
				"js:{ 'x-timezone': Intl.DateTimeFormat().resolvedOptions().timeZone }",
		}}
	>
		<div class="relative container mx-auto flex h-screen flex-col">
			{
				background && (
					<img
						class="absolute h-full w-full object-cover brightness-67 select-none dark:brightness-33"
						src={background.src}
						alt={background.alt}
					/>
				)
			}

			<main
				class="relative flex-1 overflow-auto py-8 shadow-sm"
				hx-indicator="#app-loader"
			>
				<slot />
			</main>
		</div>

		<div
			class="htmx-indicator bg-base-100/50 fixed inset-0 z-20"
			id="app-loader"
		>
			<iconify-icon
				class="center absolute size-24"
				icon="svg-spinners:bars-scale-fade"
				width="none"></iconify-icon>
		</div>
	</body>
</html>

<script>
	import htmx from "htmx.org";

	import "iconify-icon";

	htmx.onLoad((node) => {
		if (!(node instanceof HTMLElement)) return;

		if (node instanceof HTMLDialogElement) {
			node.show();
			node.addEventListener("toggle", ({ newState }) => {
				if (newState === "closed") setTimeout(() => node.remove(), 300);
			});
		}

		node
			.querySelector<HTMLElement>("[data-scroll-here]")
			?.scrollIntoView({ behavior: "smooth" });
	});

	htmx.on("htmx:beforeSwap", (e) => {
		const event = e as Event & {
			detail: {
				serverResponse: string;
				target: HTMLElement;
				swapOverride: string;
			};
		};

		if (
			event.detail.serverResponse.startsWith("<dialog") &&
			event.detail.target instanceof HTMLButtonElement
		) {
			event.detail.target = document.body;
			event.detail.swapOverride = "beforeend";
		}
	});
</script>
