---
import type { JSX } from "astro/jsx-runtime";

import "~/styles/global.css";

interface Props {
	background?: JSX.ImgHTMLAttributes;
	title: string;
}

const { background, title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />

		<link type="image/png" href="/favicon-96x96.png" rel="icon" sizes="96x96" />
		<link type="image/svg+xml" href="/favicon.svg" rel="icon" />
		<link href="/favicon.ico" rel="shortcut icon" />
		<link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
		<meta name="apple-mobile-web-app-title" content="hina-is" />
		<link href="/site.webmanifest" rel="manifest" />

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Hina is &hearts; {title}</title>

		<script
			data-goatcounter="https://notsweet.goatcounter.com/count"
			src="/goatcounter.js"
			async
			is:inline></script>
	</head>
	<body
		{...!Astro.locals.clientTimezone && {
			"hx-get": "",
			"hx-trigger": "load",
			"hx-headers":
				"js:{ 'x-timezone': Intl.DateTimeFormat().resolvedOptions().timeZone }",
		}}
	>
		<div class="relative container mx-auto flex h-screen flex-col">
			{
				background && (
					<img
						class="absolute h-full w-full object-cover brightness-67 select-none dark:brightness-33"
						{...background}
					/>
				)
			}

			<main
				class="relative flex-1 overflow-auto py-8 shadow-sm"
				hx-indicator="#app-loader"
			>
				<slot />
			</main>
		</div>

		<div
			class="htmx-indicator bg-base-100/50 fixed inset-0 z-20"
			id="app-loader"
		>
			<iconify-icon
				class="center absolute size-24"
				icon="svg-spinners:bars-scale-fade"
				width="none"></iconify-icon>
		</div>
	</body>
</html>

<script>
	import "iconify-icon";
	import "~/lib/global";
	import "~/lib/htmx";
</script>
