<header
	class="active bg-base-200/67 border-base-content/5 sticky top-0 z-100 border-b backdrop-blur-sm"
	id="header"
>
	<div class="navbar container mx-auto">
		<div class="navbar-start">
			<a class="btn btn-ghost text-base font-medium" href="/">hina-is ♥</a>
		</div>

		<div class="navbar-end">
			<label
				class="swap swap-rotate btn btn-ghost btn-circle"
				title="Toggle theme"
			>
				<input
					class="theme-controller"
					type="checkbox"
					value="coffee"
					aria-label="Toggle dark theme"
				/>

				<iconify-icon class="swap-off size-6" icon="lucide:sun" width="none"
				></iconify-icon>
				<iconify-icon class="swap-on size-6" icon="lucide:moon" width="none"
				></iconify-icon>
			</label>
		</div>
	</div>
</header>
