---
import type { Bandori } from "@hina-is/bestdori/data";

import { dayjs, formatDuration } from "~/lib/date";

interface Props extends Pick<Bandori.Event, "startAt" | "endAt"> {
	region: Bandori.GameRegion;
	predicted?: boolean;
}

const { startAt, endAt, region, predicted } = Astro.props;

const from = dayjs(startAt[region]).tz();
const to = dayjs(endAt[region]).tz();
---

<div class="inline-flex w-64 items-center">
	<span class="flex-1 font-medium uppercase">{region}</span>

	<span class="badge dark:badge-primary dark:badge-soft inline-flex">
		<div
			class="tooltip underline decoration-dotted"
			data-tip={`${from.format("YYYY-MM-DD HH:mm")} / ${from.fromNow()}`}
		>
			{from.format("YYYY-MM-DD")}
		</div>

		&mdash;

		<div
			class="tooltip underline decoration-dotted"
			data-tip={`${to.format("YYYY-MM-DD HH:mm")} / ${to.fromNow()}`}
		>
			{to.format("YYYY-MM-DD")}
		</div>
	</span>

	<div
		class="tooltip tooltip-left flex-1"
		data-tip={predicted
			? "Predicted date, might be inaccurate"
			: formatDuration(from, to)}
	>
		<span class="font-medium uppercase underline decoration-dotted">
			{predicted ? "??" : `${Math.round(to.diff(from, "days", true))}d`}
		</span>
	</div>
</div>
